.success {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border: solid 2px green;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border: solid 2px red;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.singleBlog {
    margin: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
}
.singleBlogItem {
    margin: 5px 5px;
    line-height: 22px;
}
.singleBlogTogglable {
    background-color: rgb(189, 189, 189);
    padding: 5px;
}
.singleBlogContent p:first-child {
    margin-top: 0px !important;
}
.likes button {
    margin-left: 5px;
}